* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.contain {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(29, 32, 43,0.75),rgb(0, 0, 0,0.75)), url(img/header.jpg);
  background-size: cover;
  background-position: center;
}

.navbar{
  height: 10vh;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}
.navbar ul li{
  list-style: none;
}
.navbar .directorios {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 0px 40px;
}
.navbar .directorios li{
  display: inline-block;
}
.navbar .directorios li a{
  text-decoration: none;
  color: #1D202B;
  font-size: 20px;
  font-weight: bold;
}
.navbar .directorios li a:hover{
  color: #f02210;
  transition: 0.4s ease-out;
}
.navbar .perfil {
  background-image: linear-gradient(rgb(29, 32, 43,0.75),rgb(0, 0, 0,0.75));
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar .perfil li, .navbar .perfil a{
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  transition: .5s;
}
.navbar .perfil a:hover{
  color: #002364;
  transition: 0.4s ease-out;
  
}

.img{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img img{
  width: 120px;
  height: auto;
  margin-right: 10px;
}

img {
  width: 50px;
  height: auto;
}
.contain_titulo{
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  justify-content: center;
}
.contain_titulo h1{
  font-size: 100px;
  color: #ffffff;
  text-shadow: 3px 1px rgb(117, 233, 29);
}
.contain_titulo h2{
  font-size: 75px;
  color: #ffffff;
}




/*Portadas de las distintas secciones*/
.portada{
  height: 90vh;
  background-image: linear-gradient(rgb(29, 32, 43,0.75),rgb(0, 0, 0,0.75)), url(img/header.jpg);
  
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Titulos de las distintas secciones*/
.portada h1 {
  font-size: 150px;
  display: inline;
  color: white;
  text-shadow: 3px 1px black;
}
.portada h2 {
  font-size: 90px;
  display: inline;
  color: white;
  text-shadow: 3px 1px black;
}
.portada > form > p{
  color: #6a9df0;
}
.titulo_portada{
  margin-bottom: 15px;
}
.links_portada a{
  font-size: 30px;
  text-decoration: none;
  margin: 20px 5px;
  background-color: blue;
  border-radius: 30px;
  padding: 15px;
  color: white;
  font-weight: bold;
}

/*Subtitulos de las distintas secciones*/
.portada h3{
  display: inline;
  font-size: 35px;
  margin: 0;
  color: rgb(255, 255, 255);
}

.agregar_listar {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

/* Lista de cada Seccion */
.portada ul {
  text-align: left;
  color: white;
  font-size: 25px;
}
.portada ul li{
  margin-bottom: 20px;
}
.portada ul li p, .portada ul li > a{
  color: white;
  font-size: 25px;
  margin: 0px;
}

.ver_editar_borrar {
  text-decoration: none;
  color: rgb(163, 187, 238);
  font-size: 20px;
  text-align: left;
}

.regresar{
  text-decoration: none;
  background-color: rgb(16, 43, 251);
  font-weight: bold;
  font-size: 20px;
  padding: 5px 20px;
  color: white;
}

input#editar{
  text-decoration: none;
  background-color: rgb(16, 43, 251);
  font-weight: bold;
  font-size: 20px;
  padding: 5px 20px;
  color: white;
  width: 126.72px;
  height: 32px;
  border:0 none;
}





/*Articulos de cada sección*/



.boton {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: rgb(10, 3, 105);
}

label {
  display: inline-block;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  color: white;
}

label[for="camada"] {
  display: inline-block;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
}

input[type="text"], input[type="number"], input[type="email"],select{
  width: 310px;
  height: 23px;
  font-weight: bold;
}

input[type="file"]{
  width: 400px;
  height: 23px;
  font-weight: bold;
}

#id_user{
  width: 400px;
  height: 23px;
  font-weight: bold;
}

#id_entregado{
  width: 320px;
  height: 24px;
  
}

input[type="submit"]{
  width: 70px;
  height: 25px;
  font-weight: bold;
}

p {
  font-size: 20px;
  font-weight: bold;

}


/*Login/Register*/

.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgb(29, 32, 43,0.75),rgb(0, 0, 0,0.75)), url(img/header.jpg);;
  background-size: cover;
  background-position: center;
  height: 90vh;
  text-align: center;
  justify-content: center;
}

.login_page h4 {
  font-size: 20px;
  color: white;
}

.login-h1{
  color: rgb(255, 255, 255);
  font-size: 50px;
  margin: 50px;
  padding: 15px;
  border-bottom: 2px solid black;
}

#id_password{
  width: 250px;
  height: 25px;
}

#id_username{
  width: 250px;
  height: 25px;
}

#btn-login {
  color: white;
  width: 200px;
  height: 30px;
  background-color: rgb(28, 107, 192);
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 0;

}

#btn-register {
  color: white;
  width: 200px;
  height: 30px;
  background-color: rgb(28, 107, 192);
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 0;

}

#form-register label{
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  width: 250px;
  text-align: right;
}

#form-register input{
  width: 400px;
  height: 25px;
}

#logear_nuevamente {
  text-decoration: none;
  background-color: rgb(38, 73, 162);
  color: white;
  width: 200px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px 5px;
  border: 0;
}

.errorlist li {
  text-decoration: none;
  font-size: 15px;
  text-align: left;
  color: white;
}

/* Sobre mi */

.about {
  width: 100%;
  height: 90vh;
  padding: 78px 0px;
  background-image: linear-gradient(to right,#1D202B,black);
  box-sizing: border-box;
}

.about img {
  height: auto;
  width: 700px;
  border-radius: 30px;
  margin-bottom: 0;
  
}

.about_text{
  width: 550px;
  text-align: center;
}

.container {
  width: 1400px;
  height: 100%;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about_text h1 {
  font-size: 90px;
  text-transform: capitalize;
  color: rgb(177, 255, 89);
  margin-bottom: 20px;
}

.about_text p {
  font-weight: lighter;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

