{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section>
    <article class="portada">
        <div>
            <h2>Detalle Curso</h2>
        </div>
        <div>
            <ul>
                <li><p class="texto_lista">Nombre: {{ curso.nombre }}</p></li>
                <li><p class="texto_lista">Camada: {{ curso.camada }}</p></li>
            </ul>
        </div>
        <a class="regresar" href="{% url "ListaCursos" %}">Regresar</a>
    </article>
        
        
  
    
    {% endblock %}
