{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section>
    <article class="portada">
        <div>
            <h2>Lista Cursos</h2>
        </div>
        <div>
            <ul>
                {% for curso in object_list %} 
                    <li>
                        <p>Curso: {{ curso.nombre }}</p>
                        <p> 
                            <a class="ver_editar_borrar" href="{% url "DetalleCursos" curso.id %}">Ver</a>
                            <a class="ver_editar_borrar" href="{% url "EditarCursos" curso.id %}">Editar</a>
                            <a class="ver_editar_borrar" href="{% url "BorrarCursos" curso.id %}">Borrar</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a class="regresar" href="{% url "Cursos" %}">Regresar</a>
    </article>
</section>

{% endblock %}
  
    

    