{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section>
    <article class="portada">
        <div>
            <h2>Lista Entregables</h2>
        </div>
        <div>
            <ul>
                {% for entregable in object_list %} 
                    <li>
                        <p>Entregable: {{ entregable.nombre }}</p>
                        <p> 
                            <a class="ver_editar_borrar" href="{% url "DetalleEntregables" entregable.id %}">Ver</a>
                            <a class="ver_editar_borrar" href="{% url "EditarEntregables" entregable.id %}">Editar</a>
                            <a class="ver_editar_borrar" href="{% url "BorrarEntregables" entregable.id %}">Borrar</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a class="regresar" href="{% url "Entregables" %}">Regresar</a>
    </article>
</section>

{% endblock %}