{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section>
    <article class="portada">
        <div>
            <h2>Detalle Entregable</h2>
        </div>
        <div>
            <ul>
                <li><p class="texto_lista">Nombre: {{ entregable.nombre }}</p></li>
                <li><p class="texto_lista">Fecha: {{ entregable.fecha }}</p></li>
                <li><p class="texto_lista">Entregado: {% if entregable.entregado == True %}
                    Ha sido entregado
                    {% else %}
                    No ha sido entregado
                    {% endif %}</p></li>
            </ul>
        </div>
        <a class="regresar" href="{% url "ListaEntregables" %}">Regresar</a>
    </article>
        
        
  
    
    {% endblock %}
