{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section>
    <article class="portada">
        <div>
            <h2>Detalle Estudiante</h2>
        </div>
        <div>
            <ul>
                <li><p class="texto_lista">Nombre: {{ estudiante.nombre }}</p></li>
                <li><p class="texto_lista">Apellido: {{ estudiante.apellido }}</p></li>
                <li><p class="texto_lista">Email: {{ estudiante.email }}</p></li>
            </ul>
        </div>
        <a class="regresar" href="{% url "ListaEstudiantes" %}">Regresar</a>
    </article>
        
        
  
    
    {% endblock %}
