{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section>
    <article class="portada">
        <div>
            <h2>Lista Estudiantes</h2>
        </div>
        <div>
            {% if object_list %}
            <ul>
                {% for estudiante in object_list %} 
                    <li>
                        <p>Estudiante: {{ estudiante.nombre }}</p>
                        <p> 
                            <a class="ver_editar_borrar" href="{% url "DetalleEstudiantes" estudiante.id %}">Ver</a>
                            <a class="ver_editar_borrar" href="{% url "EditarEstudiantes" estudiante.id %}">Editar</a>
                            <a class="ver_editar_borrar" href="{% url "BorrarEstudiantes" estudiante.id %}">Borrar</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <ul><li><p>No hay estudiantes aún</p></li></ul>
            {% endif %}
        </div>
        <a class="regresar" href="{% url "Estudiantes" %}">Regresar</a>
    </article>
</section>

{% endblock %}