<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="contain">
        <div class="navbar">
            <div class="img">
                <img src="{% static "img/nav.png" %}" alt="logo">
                <h2>Plataforma 1.0</h2>
            </div>
            <ul class="directorios">
            {% if user.is_authenticated %}
                <li><a href="{% url "inicio" %}">Inicio</a></li>
                <li><a href="{% url "Estudiantes" %}">Estudiantes</a></li>
                <li><a href="{% url "Profesores" %}">Profesores</a></li>
                <li><a href="{% url "Cursos" %}">Cursos</a></li>
                <li><a href="{% url "Entregables" %}">Entregable</a></li>
                <li><a href="{% url "Sobre_Mi" %}">Sobre Mi</a></li>
                <li><a href="{% url "Logout" %}">Deslogearse</a></li>
            </ul>

            <ul class="perfil">
                {% if url %}
                    <li><img src="{{url}}"></li>
                {% endif %} 
                <li>{{user.username}}
                <li><a href="{% url "EditarPerfil" %}">Editar Perfil</a></li>
                {% if url %}
                    <li><a href="{% url "AgregarAvatar" %}">Cambiar Avatar</a></li>
                {% else %}
                    <li> <a href="{% url "AgregarAvatar" %}">Agregar Avatar</a></li>
                {% endif %} 
                    </li>        
            </ul>
            {% endif %}
            
            {% if not user.is_authenticated %}
            <ul>   
            
                 <li><a href="{% url "Login" %}">Login</a></li>
                 <li><a href="{% url "Register" %}">Register</a></li>
             
            </ul>
            {% endif %}
        </div>
        {% block Contenido %}
        <div class="contain_titulo">
            <h1>PLATAFORMA ESTUDIANTIL</h1>
            <h2>{{mensaje}}</h2>
        </div>
    </div>
</body>
</html>

{% endblock %}