{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section>
    <article class="portada">
        <div>
            <h2>Lista Profesores</h2>
        </div>
        <div>
            {% if object_list %}
            <ul>
                {% for profesor in object_list %} 
                    <li>
                        <p>Profesor: {{ profesor.nombre }}</p>
                        <p> 
                            <a class="ver_editar_borrar" href="{% url "DetalleProfesores" profesor.id %}">Ver</a>
                            <a class="ver_editar_borrar" href="{% url "EditarProfesores" profesor.id %}">Editar</a>
                            <a class="ver_editar_borrar" href="{% url "BorrarProfesores" profesor.id %}">Borrar</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
            <ul><li><p>No hay profesores aún</p></li></ul>
            {% endif %}
        </div>
        <a class="regresar" href="{% url "Profesores" %}">Regresar</a>
    </article>
</section>

{% endblock %}