{% extends "AppCoder/inicio.html" %}
{% load static %}
{% block Contenido %}

<section class="about">
    <div class="container">
        <img src="{% static "img/yo.jpg" %}" alt="Nahuel Zeballos">
        <div class="about_text">
            <h1>¿Quién soy?</h1>
            <p>¡Hola, me presento! Me llamo Nahuel Zeballos, tengo 18 años y soy uruguayo.
                Soy estudiante universitario de la facultad de ingenieria y actualmente estoy cursando
                la carrera de ingenieria en sistemas. <br>
                Me gusta mucho programar, especificamente en el area del back-end, aunque tambien
                me gusta el area del front-end.
                Soy nuevo en el área, solo conozco python, django, javascript, html y css, no especificandome
                en ninguno aún.
                Mis hobbies son los videojuegos, peliculas y series y salir con amigos.
                Me gustan mucho las matematicas y materias de logica y computación.
                


            </p>
        </div>
    </div>
</section>

{% endblock %}